* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
header {
  height: 12.4vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 5em;
}
.nav-logo {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 20px;
}
.divider {
  width: 5px;
  height: 4.5em;
  background: linear-gradient(to bottom, #04a3d3 50%, #ef5a0f 50%);
}
nav {
  width: 50%;
}
nav ul {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
nav ul a {
  text-align: center;
  color: #163269;
  /* flex: 1; */
  text-decoration: none;
}
#selected {
  color: #ef5a0f;
}
#loop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.08);
}
#pict-slide {
  width: 100%;
  object-fit: fill;
}
#jumbotron {
  position: relative;
}
#back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4em;
  top: 50%;
  width: 5em;
  height: 5em;
  border-radius: 50px;
  background-color: #ffffffbf;
  cursor: pointer;
}
#next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4em;
  top: 50%;
  width: 5em;
  height: 5em;
  border-radius: 50px;
  background-color: #ffffffbf;
  cursor: pointer;
}

#stakeholder {
  position: relative;
  top: -5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#stakeholder .container {
  padding: 0 20px;
  padding-top: 30px;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

#stakeholder .title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 36px;
}
#stakeholder .title span {
  background: #ef5a0f;
  color: white;
  padding: 0 10px;
}
.container-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 10px;
}
.item-container {
  flex: 1;
}
.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}
.stake-title {
  flex: 1;
  display: flex;
  justify-content: center;
}
.title-container h2 {
  padding: 10px 0;
  width: 10em;
  max-width: 10em;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-left: 4px solid #ef5a0f;
}

#announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#announcement .container {
  width: 70%;
}

.announce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.agenda-sec {
  margin-top: 4em;
}
.announc-title {
  color: #055088;
  font-size: 40px;
  font-weight: 700;
  /* width: 100%; */
}
#line-announce {
  /* width: 50em; */
  background: #ef5a0f;
  height: 3px;
  width: 100%;
}
.desc-announce {
  font-size: 20px;
  font-weight: 400;
  color: #d61b23;
}

#category-announce {
  display: flex;
  gap: 15px;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
  color: #c3c3c3;
}
#category-announce p {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #c3c3c3;
}
#cat-selected {
  background: #ef5a0f;
  color: white;
  border: none;
}

.announce-news {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 70%;
  gap: 40px;
}
.announce-news img {
  width: 100%;
  min-width: 50%;
}
.announce-news article {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.announce-desc {
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
  min-height: 7vh;
}
.context {
  margin-right: 3px;
  font-weight: 700;
  color: #919191;
}

.announce-news button {
  align-self: flex-start;
  background-color: white;
  margin-top: 40px;
  border: 1px solid #ef5a0f;
  font-weight: 500;
  font-size: 20px;
  color: #ef5a0f;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.see-all-container {
  width: 70%;
}
.see-all {
  text-align: right;
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #ef5a0f;
}

.agenda-desc-title {
  margin-top: 5px;
  text-align: right;
}
.agenda-news {
  margin-top: 20px;
}

.img-container {
  min-height: 10vh;
}
.agenda-desc-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.agenda-desc-time {
  font-weight: 500;
  font-size: 15px;
  color: #ef5a0f;
}
.agenda-desc {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  min-height: 10vh;
}
.date-month {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #ef5a0f;
}
.date {
  font-weight: 700;
  font-size: 34px;
  color: #ef5a0f;
}
.month {
  font-weight: 700;
  font-size: 16px;
}
.desc-agenda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#program-studi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
}

.ps {
  font-weight: 600;
  font-size: 42px;
  text-align: center;
}
.ps span {
  background-color: #ef5a0f;
  color: white;
  padding: 10px 20px;
}
.ps-container {
  max-width: 70%;
}

.ps-sub-title {
  margin-top: 20px;
  font-size: 24px;
}

.list-ps {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.list-ps img {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  border-radius: 10px;
}
#pic {
  position: relative;
  margin-top: 4em;
}

.pic-container {
  display: flex;
  overflow-x: hidden;
}
.pic-container img {
  flex: 1;
}
.facilities {
  position: absolute;
  top: 50%;
  left: 5em;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background: #ef5a0f;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  background: #181818;
  color: white;
  position: relative;
}
.footer-content-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 70%;
  gap: 3em;
  padding: 3em 0;
}
.footer-content-wrapper > div {
  flex: 1;
  align-self: flex-start;
}
.footer-content-wrapper h6 {
  font-weight: 700;
  font-size: 17px;
  border-bottom: 2px solid #ef5a0f;
  height: 3vh;
  margin-bottom: 2em;
}
.footer-content-wrapper p {
  font-size: 16;
  font-weight: 400;
  margin-bottom: 1em;
  color: #8d8d8d;
}
.footer-cpr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
  background: #202020;
  height: 7vh;
}

.socmed-wrapper {
  display: flex;
  gap: 10px;
}
